Coats.Crafts/Coats.Crafts.SmartTartget/Service References/SmartTargetDeploymentWebService/SmartTargetDeploymentWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://web.smarttarget.tridion.com/" targetNamespace="http://web.smarttarget.tridion.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="deploy" type="tns:deploy" />
  <xs:element name="deployResponse" type="tns:deployResponse" />
  <xs:complexType name="deploy">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deployResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>