Coats.Crafts/Coats.Crafts.Gateway/Service References/CraftsIntegrationService/Coats1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Coats.Crafts.IntegrationService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Coats.Crafts.IntegrationService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63988/Coats.Crafts.IntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfIntegrationServiceRetailer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntegrationServiceRetailer" nillable="true" type="tns:IntegrationServiceRetailer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntegrationServiceRetailer" nillable="true" type="tns:ArrayOfIntegrationServiceRetailer" />
  <xs:complexType name="IntegrationServiceRetailer">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandsStocked" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountyAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistanceFromPoint" type="xs:double" />
      <xs:element minOccurs="0" name="Events" nillable="true" type="tns:ArrayOfCraftsEvent" />
      <xs:element minOccurs="0" name="HasPromotion" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TCM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Town" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegrationServiceRetailer" nillable="true" type="tns:IntegrationServiceRetailer" />
  <xs:complexType name="ArrayOfCraftsEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CraftsEvent" nillable="true" type="tns:CraftsEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCraftsEvent" nillable="true" type="tns:ArrayOfCraftsEvent" />
  <xs:complexType name="CraftsEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistanceFromPoint" type="xs:double" />
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EventDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventID" type="xs:int" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RetailerID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ThumbnailUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CraftsEvent" nillable="true" type="tns:CraftsEvent" />
  <xs:complexType name="ScrapbookItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ImageURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScrapbookItem" nillable="true" type="tns:ScrapbookItem" />
  <xs:complexType name="ArrayOfScrapbookItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScrapbookItem" nillable="true" type="tns:ScrapbookItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScrapbookItem" nillable="true" type="tns:ArrayOfScrapbookItem" />
  <xs:complexType name="ShoppingListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductTcmID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingListItem" nillable="true" type="tns:ShoppingListItem" />
  <xs:complexType name="ArrayOfShoppingListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingListItem" nillable="true" type="tns:ShoppingListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingListItem" nillable="true" type="tns:ArrayOfShoppingListItem" />
</xs:schema>