Coats.Crafts/Coats.Crafts.Gateway/Service References/CraftsIntegrationService/CoatsCraftsIntegrationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoatsCraftsIntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://coats.crafts.integrationservice/Coats.Crafts.IntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://coats.crafts.integrationservice/Coats.Crafts.IntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://coats.crafts.integrationservice/Coats.Crafts.IntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Coats.Crafts.IntegrationService.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetailersAndEventsPaged" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetailersAndEventsPagedResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsInArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetailersAndEventsInArea" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsInArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetailersAndEventsInAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetRetailersInArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRetailersInArea" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetRetailersInArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRetailersInAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetEventsForRetailer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsForRetailer" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetEventsForRetailer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsForRetailerResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetEventsInArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsInArea" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetEventsInArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventsInAreaResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertRetailerEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRetailerEvent" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertRetailerEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRetailerEventResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEvent" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertScrapbookItem_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScrapbookItem" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertScrapbookItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScrapbookItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetScrapbookItemsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScrapbookItemsByUser" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetScrapbookItemsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScrapbookItemsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetScrapbookItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScrapbookItem" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetScrapbookItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScrapbookItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_TryDeleteScrapbookItem_InputMessage">
    <wsdl:part name="parameters" element="tns:TryDeleteScrapbookItem" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_TryDeleteScrapbookItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryDeleteScrapbookItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertShoppingListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertShoppingListItem" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_InsertShoppingListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertShoppingListItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:TryDeleteShoppingListItem" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryDeleteShoppingListItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItemsByProjectName_InputMessage">
    <wsdl:part name="parameters" element="tns:TryDeleteShoppingListItemsByProjectName" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItemsByProjectName_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryDeleteShoppingListItemsByProjectNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetShoppingListItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItems" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetShoppingListItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetShoppingListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItem" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_GetShoppingListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItemResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_UpdateShoppingListItemQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShoppingListItemQuantity" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_UpdateShoppingListItemQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShoppingListItemQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_checkDisplayNameExists_InputMessage">
    <wsdl:part name="parameters" element="tns:checkDisplayNameExists" />
  </wsdl:message>
  <wsdl:message name="ICoatsCraftsIntegrationServiceContract_checkDisplayNameExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkDisplayNameExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICoatsCraftsIntegrationServiceContract">
    <wsdl:operation name="GetRetailersAndEventsPaged">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersAndEventsPaged" message="tns:ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersAndEventsPagedResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsPaged_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRetailersAndEventsInArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersAndEventsInArea" message="tns:ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsInArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersAndEventsInAreaResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetRetailersAndEventsInArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRetailersInArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersInArea" message="tns:ICoatsCraftsIntegrationServiceContract_GetRetailersInArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersInAreaResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetRetailersInArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsForRetailer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetEventsForRetailer" message="tns:ICoatsCraftsIntegrationServiceContract_GetEventsForRetailer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetEventsForRetailerResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetEventsForRetailer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventsInArea">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetEventsInArea" message="tns:ICoatsCraftsIntegrationServiceContract_GetEventsInArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetEventsInAreaResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetEventsInArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertRetailerEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertRetailerEvent" message="tns:ICoatsCraftsIntegrationServiceContract_InsertRetailerEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertRetailerEventResponse" message="tns:ICoatsCraftsIntegrationServiceContract_InsertRetailerEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertEvent" message="tns:ICoatsCraftsIntegrationServiceContract_InsertEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertEventResponse" message="tns:ICoatsCraftsIntegrationServiceContract_InsertEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScrapbookItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertScrapbookItem" message="tns:ICoatsCraftsIntegrationServiceContract_InsertScrapbookItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertScrapbookItemResponse" message="tns:ICoatsCraftsIntegrationServiceContract_InsertScrapbookItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScrapbookItemsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetScrapbookItemsByUser" message="tns:ICoatsCraftsIntegrationServiceContract_GetScrapbookItemsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetScrapbookItemsByUserResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetScrapbookItemsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScrapbookItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetScrapbookItem" message="tns:ICoatsCraftsIntegrationServiceContract_GetScrapbookItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetScrapbookItemResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetScrapbookItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryDeleteScrapbookItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteScrapbookItem" message="tns:ICoatsCraftsIntegrationServiceContract_TryDeleteScrapbookItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteScrapbookItemResponse" message="tns:ICoatsCraftsIntegrationServiceContract_TryDeleteScrapbookItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertShoppingListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertShoppingListItem" message="tns:ICoatsCraftsIntegrationServiceContract_InsertShoppingListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertShoppingListItemResponse" message="tns:ICoatsCraftsIntegrationServiceContract_InsertShoppingListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryDeleteShoppingListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteShoppingListItem" message="tns:ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteShoppingListItemResponse" message="tns:ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryDeleteShoppingListItemsByProjectName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteShoppingListItemsByProjectName" message="tns:ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItemsByProjectName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteShoppingListItemsByProjectNameResponse" message="tns:ICoatsCraftsIntegrationServiceContract_TryDeleteShoppingListItemsByProjectName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetShoppingListItems" message="tns:ICoatsCraftsIntegrationServiceContract_GetShoppingListItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetShoppingListItemsResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetShoppingListItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetShoppingListItem" message="tns:ICoatsCraftsIntegrationServiceContract_GetShoppingListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetShoppingListItemResponse" message="tns:ICoatsCraftsIntegrationServiceContract_GetShoppingListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShoppingListItemQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/UpdateShoppingListItemQuantity" message="tns:ICoatsCraftsIntegrationServiceContract_UpdateShoppingListItemQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/UpdateShoppingListItemQuantityResponse" message="tns:ICoatsCraftsIntegrationServiceContract_UpdateShoppingListItemQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkDisplayNameExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/checkDisplayNameExists" message="tns:ICoatsCraftsIntegrationServiceContract_checkDisplayNameExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/checkDisplayNameExistsResponse" message="tns:ICoatsCraftsIntegrationServiceContract_checkDisplayNameExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICoatsCraftsIntegrationServiceContract" type="tns:ICoatsCraftsIntegrationServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRetailersAndEventsPaged">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersAndEventsPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRetailersAndEventsInArea">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersAndEventsInArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRetailersInArea">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetRetailersInArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsForRetailer">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetEventsForRetailer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventsInArea">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetEventsInArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRetailerEvent">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertRetailerEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEvent">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScrapbookItem">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertScrapbookItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScrapbookItemsByUser">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetScrapbookItemsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScrapbookItem">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetScrapbookItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryDeleteScrapbookItem">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteScrapbookItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertShoppingListItem">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/InsertShoppingListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryDeleteShoppingListItem">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteShoppingListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryDeleteShoppingListItemsByProjectName">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/TryDeleteShoppingListItemsByProjectName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItems">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetShoppingListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItem">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/GetShoppingListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShoppingListItemQuantity">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/UpdateShoppingListItemQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDisplayNameExists">
      <soap:operation soapAction="http://tempuri.org/ICoatsCraftsIntegrationServiceContract/checkDisplayNameExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoatsCraftsIntegrationService">
    <wsdl:port name="BasicHttpBinding_ICoatsCraftsIntegrationServiceContract" binding="tns:BasicHttpBinding_ICoatsCraftsIntegrationServiceContract">
      <soap:address location="http://coats.crafts.integrationservice/Coats.Crafts.IntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>